/* Estilos básicos */
.navbar {
  display: flex;
  margin-left: 40px ;
  margin-right: 40px;
  background-color: #888282;
  padding: 10px;
  margin-top: 0;
  position: relative; 
  align-items: center;
  justify-content: space-between;
  animation: slideIn 3s ease-out forwards;/* Mantiene el menú dentro del nav */
}
@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 35px;
  cursor: pointer;
  align-self: flex-end;
  z-index: 2;
}

/* Menú lateral oculto inicialmente */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #222;
  position: absolute;
  top: 50px; /* Alinea el menú debajo del botón */
  left: -100%; /* Oculto fuera de la pantalla */
  width: 200px; /* Ajusta el ancho del menú */
  height: auto;
  transition: left 0.3s ease-in-out;
}

ul.open {
  left: 0; /* Muestra el menú deslizándolo */
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #aca7a7;
  position:relative;
}

ul li ul {
  position: obsolute;
  top: 0;
  left: 100%;
  width:180px;
  display:none;
  background: #222;
  border: none;
  color: white;
  font-size: 15px;

}

ul li:hover > ul{
  display: block;


}

ul li a {
  color: white;
  text-decoration: none;
}

.iconos-container {
  display: flex;
  gap: 15px;
  margin-left: auto;
  font-size: 20px;

}
  .iconos-container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
  
}
