<nav class="navbar">
    <button class="menu-toggle" (click)="toggleMenu()">
        {{ isMenuOpen ? '✖' : '☰' }}
    </button>

    <ul class="menu" [class.open]="isMenuOpen">
        <li><a href="/inicio">Inicio</a></li>
        <li class="submenu">
            <a href="/servicios">Servicios</a>
            <ul class="submenu-items">
                <li><a href="#">Asesoramiento</a></li>
                <li><a href="#">Sistemas de seguridad</a></li>
                <li><a href="#">Mantenimiento</a></li>
            </ul>
        </li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>

    <div class="iconos-container">
        <a href="http://www.linkedin.com"><img src="assets/iconos/lin.svg"></a>
        <a href="http://www.instagram.com"><img src="assets/iconos/ins.svg"></a>
        <a href="http://www.whatsapp.com"><img src="assets/iconos/wha.svg"></a>
    </div> 
</nav>
