* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    width: auto;
    height:100vh;
    text-align: center;
    display: flex;
}

.video {  /* Se mantiene en pantalla */
    width: auto;  /* Ancho completo */
    height: auto; /* Alto completo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: -70px; /* Lo manda al fondo */
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video sin deformarlo */
}


.cotizacion {
    width: auto;
    background-color: rgb(36, 36, 37);
    height: 100vh;
    position:relative;
    align-items:center;
    text-align: center;
    color: rgb(196, 190, 190);
}

#titulo {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: -110px;
    font-size: 20px;
    font-family: copperplate;
    color: rgb(229, 229, 231);
    gap: 5px; /* Espacio entre el texto y las líneas */
}

#titulo::before, #titulo::after {
    content: "";
    flex-grow: 1; /* Hace que las líneas se expandan */
    height: 2px;
    background-color: rgb(230, 42, 42);
}

#som {
    position: relative;
    margin-top:40px;
    font-size: 110px;
    opacity: 0.3;
    font-weight: 10;
    font-family: Brush Script MT;
    text-align: center;
}

.cotizacion h3 {
    position: relative;
    top: 70px;
    font-size: 17px;
}

.cuadro {
    display: grid;
    gap: 8px;
    text-align: center;
    justify-content: center;
    width:700px;
    height: auto;
    background-color: rgb(143, 145, 145);
    position: relative;
    margin: 7% auto;
    padding: 20px;
    border-radius: 20px;
}

.cuadro label {
    display: block;
    margin: 0 0 0 3px 0;
    font-size: 19px;
    color:#464040;

}
.for {
    width:500px;
    height: 30px;
    position:relative;
    margin: 0;
    padding:4 px;
    box-sizing: border-box;   
    border-radius: 3px; 

}
.btn-cotizacion {
    width: 100px;  /* Se ajusta al contenido */
    padding: 6px 12px;  /* Botón pequeño */
    font-size: 14px;
    cursor: pointer;
    background-color: #222;
    color: #f0e6e6;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sobre_mi {
    display: flex;
    flex-direction:row;
    align-items:center;
    gap:20px;
    padding:20px;
width: auto;
background-color: rgb(36, 36, 37);
height: 100vh;
margin: 0;
padding: 0;
}

#tit {
   font-size: 32px;
   text-align: center;
   justify-content: center;
   position: relative;
   margin-top: -100px;
   font-family: copperplate;
   color: rgb(229, 229, 231);
   gap: 5px; /* Espacio entre el texto y las líneas */
}

#im {
    width: 50%;
    height: 80%;
    position: relative;
}

.sobre_mi h2{
    color: #aca7a7;
    font-size: 30px;
    flex:1;
    position: relative;
  }

.sobre_mi p{
    position:relative;
    color:rgb(175, 180, 180);
    font-style:oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin:20px;
    text-decoration-line:initial;

}

.imgn {
    align-items:center;
    justify-content: center;
width: auto;
background-color: rgb(77, 77, 78);
height:100vh;
margin: 0;
padding: 0;
}

.rom-container {
    margin-left: 15%;
    margin-right: 5%;
    width: 800px;
    display: flex;
    flex-grow:1;
    object-fit: cover;
    height: auto;
    border-color: aqua;
    background-color: rgb(77, 77, 78);
}

#im2 {
    width: 10px;
    flex-grow: 1;
    object-fit: cover;
    height: 100%;
    border:0.1px solid rgb(77, 77, 78);
    position: relative;
    opacity:.8;
    transition: .5s ease;

}
 #im2:hover {
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
 }
.tx-container{
    margin-top: -10px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}

#titu {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: -70px;
    font-size: 20px;
    font-family: copperplate;
    color: rgb(229, 229, 231);
    gap: 5px; /* Espacio entre el texto y las líneas */
}

#titu::before, #titu::after {
    content: "";
    flex-grow: 1; /* Hace que las líneas se expandan */
    height: 2px;
    background-color: rgb(230, 42, 42);
}
#som1 {
    position: relative;
    margin-top:auto;
    font-size: 110px;
    opacity: 0.3;
    font-weight: 10;
    font-family: Brush Script MT;
    text-align: center;
}
.tx-container h2{
    margin-top: 70px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}
.tx-container h4{
    margin-top:20px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}