/* Reset global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: transparent !important;
    margin:0;
    padding: 0;
  } 
  @keyframes slideIn {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .inicio {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
    animation: slideIn 3s ease-in-out forwards;
}

.video-container {
    position: fixed;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y:visible;
    z-index: -1;
}

.video-container iframe {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

  
  .contenido {
    position: relative;
    color: white;
    text-align: center;
    padding-top: 20vh;
  }
  

.cotizacion {
    width: auto;
    background-color: rgb(36, 36, 37);
    height: 100vh;
    position:relative;
    align-items:center;
    text-align: center;
    color: rgb(196, 190, 190);
}
.hidden-left {
  opacity: 0;
  transform: translateX(-100px); /* Empieza fuera de la pantalla, a la izquierda */
  transition: all 2s ease-out;
  
}

.hidden-right {
  opacity: 0;
  transform: translateX(100px); /* Empieza fuera de la pantalla, a la derecha */
  transition: all 1s ease-out;
  
}

/* Cuando Intersection Observer detecte que el elemento está en pantalla */
.show {
  opacity: 1;
  transform: translateX(0);
}


#titulo {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: -110px;
    font-size: 20px;
    font-family: copperplate;
    color: rgb(229, 229, 231);
    gap: 5px; 

}

#titulo::before, #titulo::after {
    content: "";
    flex-grow: 1; /* Hace que las líneas se expandan */
    height: 2px;
    background-color: rgb(230, 42, 42);
 
}

#som {
    position: relative;
    margin-top:40px;
    font-size: 110px;
    opacity: 0.3;
    font-weight: 10;
    font-family: Brush Script MT;
    text-align: center;

}

.cotizacion h3 {
    position: relative;
    top: 70px;
    font-size: 17px;
}

#cuadro {
    display: grid;
    gap: 8px;
    text-align: center;
    justify-content: center;
    width:700px;
    height: auto;
    background-color: rgb(143, 145, 145);
    position: relative;
    margin: 7% auto;
    padding: 20px;
    border-radius: 20px;
}

#cuadro label {
    display: block;
    margin: 0 0 0 3px 0;
    font-size: 19px;
    color:#464040;

}
.for {
    width:500px;
    height: 30px;
    position:relative;
    margin: 0;
    padding:4 px;
    box-sizing: border-box;   
    border-radius: 3px; 

}
.btn-cotizacion {
    width: 100px;  /* Se ajusta al contenido */
    padding: 6px 12px;  /* Botón pequeño */
    font-size: 14px;
    cursor: pointer;
    background-color: #222;
    color: #f0e6e6;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sobre_mi {
    display: flex;
    flex-direction:row;
    align-items:center;
    gap:20px;
    padding:20px;
width: auto;
background-color: rgb(36, 36, 37);
height: 100vh;
margin: 0;
padding: 0;
}

#tit {
   font-size: 32px;
   text-align: center;
   justify-content: center;
   position: relative;
   margin-top: -100px;
   font-family: copperplate;
   color: rgb(229, 229, 231);
   gap: 5px; /* Espacio entre el texto y las líneas */
}

#im {
    width: 50%;
    height: 80%;
    position: relative;
}

.sobre_mi h2{
    color: #aca7a7;
    font-size: 30px;
    flex:1;
    position: relative;
  }

.sobre_mi p{
    position:relative;
    color:rgb(175, 180, 180);
    font-style:oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    margin:20px;
    text-decoration-line:initial;

}

.imgn {
    align-items:center;
    justify-content: center;
    width: auto;
    background-color: rgb(77, 77, 78);
    height:100vh;
    margin: 0;
    padding: 0;
}

.rom-container{
  display: flex;
  margin-top:-80px;
  margin-left: 10%;
  margin-right: 20%;
  width:900px;
  height: 400px;
  flex-wrap: wrap;
  justify-content: center;
  gap:90px;
  background-color: rgb(77, 77, 78);
  

}
.im2 {
    top:100px;
    width: 200px;
    flex-grow: 1;
    object-fit: cover;
    border:0.1px solid rgb(77, 77, 78);
    position: relative;
    opacity:.8;
    transition: .5s ease;
    animation: mo 3s ease-in-out infinite;
}

  @keyframes mo {
    0%{
      transform: translateY(0);
    }50%{
      transform: translateY(10px);
    }100%{
      trnaform:translatey(0);
    }
    }
    
  

.marca{
  position: relative;
  width:150px;
  height: 150px;
}
 .im2:hover {
    cursor: crosshair;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
    z-index: 1;
 }
.ico{
  position: absolute;
  width: 250px;
  height:120px;
  transition: opacity 0.3s ease, transform 0.3 ease;
  opacity:0;
}
.marca:hover .ico{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.2);
}

.tx-container{
    margin-top: -10px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}

#titu {
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-top: -70px;
    font-size: 20px;
    font-family: copperplate;
    color: rgb(229, 229, 231);
    gap: 5px; /* Espacio entre el texto y las líneas */
}

#titu::before, #titu::after {
    content: "";
    flex-grow: 1; /* Hace que las líneas se expandan */
    height: 2px;
    background-color: rgb(230, 42, 42);
}
#som1 {
    position: relative;
    margin-top:auto;
    font-size: 110px;
    opacity: 0.3;
    font-weight: 10;
    font-family: Brush Script MT;
    text-align: center;
}
.tx-container h2{
    margin-top: 70px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}
.tx-container h4{
    margin-top:20px;
    position: relative;
    text-align: center;
    color: #aca7a7;
    line-height: 1;
}
.contacto {
  position: relative;
  width: 100%;
  height: 100vh;
  color:#aca7a7;
  display: flex;
  bottom: 0;
  right: 0;
  flex-direction: column;
  align-content:flex-end;
  text-align: right;
  font-size: 30px;
}
.video1{

  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  visibility: visible;
  z-index: -1;
 padding: 0;
 margin: 0; 

}

#contenedor{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15%;
  margin-bottom: 8%;
}

#iconos-container1 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 15%;
  margin-bottom: 38%;
  display: flex;
  gap: 25px;
  margin-left: auto;
  font-size: 20px;

}
  #iconos-container1 img {
    display: flex;
    width: 50px;
    height: 50px;
    object-fit: cover;
    transition: 0.5s;
    animation: mo 1.5s ease-in-out infinite;
  }

  #iconos-container1 img:hover {
    cursor: pointer;
    background-color: color-mix(in srgb, blue 50%, aqua 50%);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    transform: scale(1.5);
  
  #iconos-container1 img:nth-child(1){
    animation: all 1.5s ease-in-out infinite;
  }

  }