
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

      <router-outlet> </router-outlet>
          <header>
    <app-topbar></app-topbar>
    <app-navbar></app-navbar>
  </header>
      <section class="inicio">
        <video autoplay loop muted class="video-bg">
          <source  src="assets/videos/back.mp4" type="video/mp4">
        </video>
          
      </section>
    <section class=" cotizacion">
      <div class="hidden-left" id="som"><h1>jfrsn</h1></div>
      <div class= "hidden-right" id= "titulo"><h1>realizar cotizacion</h1></div>
      <h3 class="hidden-left"> llena el formulario para poderte cotizar</h3>
      <div class="hidden-left" id="cuadro">
         
        <label>formulario solicitud de cotizacion: </label> 
          <input class="for" type="text" placeholder="nombres">
          <input class="for" type="text" placeholder="apellidos">  
          <input class="for" type="email" placeholder="correo">  
          <input class="for" type="tel" placeholder="celular">  
      
          <label>servicio de su interes:</label>  
          
          <select class="for">
            <option  value="1">servicio de instalacion</option>
            <option  value="2">servicio de mantenimiento</option>
            <option  value="3">servicio de asesoria</option>
          </select>
      
          <label>de donde nos escribes: </label>  
          <input class="for" type="text" placeholder="ciudad"> 
          <button class="btn-cotizacion">enviar</button>
      </div>
     
    </section>
    <section class="sobre_mi">
      
       <img class="hidden-left" src="assets/img/dd.jpg" id="im">

       <div  class="text-container">
       <div class="hidden-right" id="tit"><h1>con mas de 3 años <br>
        de experiencia</h1></div>
      <h2 class="hidden-right"> asesoria e instalacion de camaras de seguridad </h2>
      <p class="hidden-right">
        Con más de tres años de experiencia en la instalación, 
        asesoría y ajuste de cámaras CCTV, he perfeccionado mi 
        conocimiento en sistemas de videovigilancia. Me especializo
        en tecnologías tanto analógicas como digitales, lo que
        me permite brindar soluciones integrales y personalizadas
        a cada cliente. Mi compromiso con la calidad y la seguridad
        me impulsa a mantenerme actualizado en las últimas 
        innovaciones del sector, garantizando que cada proyecto
        se ejecute con precisión y eficiencia. Estoy dedicado 
        a ofrecer un servicio confiable que proteja lo que más importa.
      </p>
    </div>
    </section>
    <section class="imgn">
      <div class="tx-container">
        <div class="hidden-left" id="som1"><h1>jfrsn</h1></div>
        <div class="hidden-right" id="titu"><h1>Marcas que manejamos</h1></div>
        <h2 class="hidden-right">Instalación y mantenimiento con diferentes marcas</h2>
        <h4 class="hidden-right">Análogas y digitales</h4>
        <br><br>
      </div>
    
      <div class="rom-container">
        <div class="marca">
          <img src="assets/iconos/ahua.png" class="ico">
          <img src="assets/img/ahu.jpg" class="im2">
          
        </div>
    
        <div class="marca">
          <img src="assets/iconos/hanwha.png" class="ico">
          <img src="assets/img/han.jpg" class="im2">
          
        </div>
    
        <div class="marca">
          <img src="assets/iconos/hikvision.png" class="ico">
          <img src="assets/img/hik.jpg" class="im2">
         
        </div>
    
        <div class="marca">
          <img src="assets/iconos/hilook.png" class="ico">
          <img src="assets/img/hil.jpg" class="im2">
         
        </div>
      </div>
    </section>
    <section class="contacto">
      <h1>contactenos</h1>
      <h3>jbs.jefer@gmail.com</h3>
      <h3>cel: 3133068579</h3>
      <h3>bogota - Colombia</h3>
      
    </section>
    



